/* ---------------------------
   RESET GLOBAL
---------------------------- */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}

/* ---------------------------
   STRUCTURE GLOBALE
---------------------------- */

body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
}

a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #b1663c;
}

section {
  margin: 50px 0;
}

/* ---------------------------
   HEADER 
---------------------------- */

header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
  align-items: center;
}

header h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne", sans-serif;
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

header h1 span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

nav ul {
  display: flex;
  align-items: center;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}
nav li:hover {
  color: #b1663c;
}

/* ---------------------------
   FOOTER 
---------------------------- */

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

/* ---------------------------
  BANNIERE
---------------------------- */
.edit-banner {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 38px;

  background-color: #000;
  color: #fff;

  display: none;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  font-weight: 400;
  z-index: 1000;
}

.edit-banner p {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
}

.edit-banner i {
  font-size: 14px;
}
