/* INTRODUCTION --------------------------------------------------------- */

#introduction {
  display: flex;
  align-items: center;
}

#introduction figure {
  flex: 1;
}

#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}

#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}

/* TITRES PRINCIPAUX --------------------------------------------------- */
#introduction h2,
#portfolio h2,
#contact h2 {
  font-family: "Syne", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #1d6154;
  margin-bottom: 40px;
  text-align: center;
}

/* PORTFOLIO ------------------------------------------------------------ */

#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}

/* CONTACT -------------------------------------------------------------- */

#contact {
  width: 50%;
  margin: auto;
}

#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}

#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
  margin: 2em 0 1em 0;
}

#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

/* FILTRES -------------------------------------------------------------- */

.filters {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 30px 0;
}

.filters button {
  border: 1px solid #1d6154;
  background-color: white;
  color: #1d6154;
  font-family: "Syne";
  font-weight: 700;
  border-radius: 25px;
  padding: 8px 20px;
  cursor: pointer;
  transition: 0.3s;
}

.filters button.active,
.filters button:hover {
  background-color: #1d6154;
  color: white;
}

/* MODE ÉDITION ----------------------------------------------------------*/

.titre-projets {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 30px;
  margin-bottom: 1em;
}

.btn-modifier {
  background: none;
  border: none;
  color: #000;
  font-family: "Work Sans";
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 5px;
}

.btn-modifier:hover {
  color: #1d6154;
}
