/* ---------------------------
   PAGE LOGIN
---------------------------- */

#login {
  width: 50%;
  max-width: 400px;
  margin: 120px auto;
  text-align: center;
}

#login h2 {
  font-family: "Syne", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #1d6154;
  margin-bottom: 40px;
}

#error-message {
  color: #d65353;
  font-size: 14px;
  margin-bottom: 20px;
  display: none;
}

#login form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: left;
}

#login label {
  font-size: 14px;
  font-weight: 600;
}

#login input[type="email"],
#login input[type="password"] {
  height: 50px;
  padding: 0 15px;
  border: none;
  background: #fff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  font-size: 16px;
}

#login input[type="submit"] {
  font-family: "Syne", sans-serif;
  background-color: #1d6154;
  color: #fff;
  border: none;
  border-radius: 60px;
  height: 40px;
  width: 180px;
  margin: 10px auto 0;
  cursor: pointer;
}

#login input[type="submit"]:hover {
  background-color: #15473f;
}

.forgot-password {
  color: #3a3a3a;
  font-size: 14px;
  margin-top: 20px;
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
}
